<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/mycss.css"/> 
</head>
<body>
    <div class="header">
        <h1>Discord Fuck Örnen Darts League</h1>
    </div>

    <div class="menu">
        <ul class="header">
            <li><a href="/home">Home</a></li>
            <li><a href="/players">Players</a></li>
            <li><a heref="/schedule">Schedule</a></li>
        </ul>
    </div>

    <div class="content">
        {{{body}}}
    </div>
</body>
</html>
